// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post_form {
  textarea {
	resize: none;
  }
}
.comment_form {
  textarea {
	resize: none;
	width: 100%;
  }
}
.comment_list {
  width: 95%;
  position: relative;
  right: 0;
  float: right;
  .reply_comment {
	width: 100%;
  }
}